<app-dashboard-header />

<main>
  <div class="container mx-auto p-6 ,t-25">
    <div>
      <table class="min-w-full border border-gray-200 rounded-lg shadow-sm w-100">
        <thead class="bg-gray-100 text-left">
          <tr>
            <th class="px-4 py-2 text-sm font-semibold text-gray-700">Member Name/ID</th>
            <th class="px-4 py-2 text-sm font-semibold text-gray-700">Type of Giving</th>
            <th class="px-4 py-2 text-sm font-semibold text-gray-700">Amount</th>
            <th class="px-4 py-2 text-sm font-semibold text-gray-700">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">

          <tr>
            <td class="px-4 py-3">

              @if(fullName.value){
              <!-- Tag container -->
              <div id="tags" aria-live="polite">
                <!-- Example tag -->
                <span class="tag bg-primary text-white me-1" data-value="example">
                  <span class="tag-label">{{fullName.value}}</span>
                  <button type="button" class="btn-close btn-close-white" aria-label="Remove tag"
                    (click)="clearMemberIdAndName()"></button>
                </span>

              </div>
              }@else {
              <app-active-members-lookup-dropdown (emitMemberId)="setUserId($event)"
                (emitMemberName)="setFullName($event)" />
              }
            </td>
            <td class="px-4 py-3">
              <app-active-tithe-type-dropdown (emitTitheTypeId)="setTitheTypeId($event)"
                (emitTitheTypeName)="setTitheTypeName($event)" />
            </td>
            <td class="px-4 py-3">
              <form [formGroup]="form">
                <input type="text" placeholder="0.00" (input)="formatToTwoDecimals($event)"
                  class="w-full rounded-lg border border-gray-300 px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500"
                  formControlName="amount">
              </form>
            </td>
            <td class="px-4 py-3">
              <button class="btn btn-success" (click)="addToList()" [disabled]="this.form.invalid"><i
                  class="bi bi-plus-circle-fill"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="table-responsive mt-4" *ngIf="tithesArray().length">
        <table class="table table-hover align-middle text-center rounded-3 ">
          <thead class="bg-gradient text-white" style="background: linear-gradient(90deg, #0d6efd, #6610f2);">
            <tr>
              <th scope="col">Full Name</th>
              <th scope="col">Tithe Type</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            @for (tithe of tithesArray(); track $index) {
            <tr>
              <td class="fw-semibold">{{ tithe.fullName }}</td>
              <td>
                <span class="badge bg-default text-dark px-3 py-2 rounded-pill">
                  {{ tithe.titheTypeName }}
                </span>
              </td>
              <td class="fw-bold text-success">{{ tithe.amount | currency :"PHP" }}</td>
            </tr>
            }
          </tbody>
        </table>

        <div class="d-flex justify-content-center">
          <button class="btn btn-primary">Process All <i class="bi bi-send-plus"></i></button>
        </div>
      </div>

    </div>
  </div>

</main>