

<main>
  <div class="container-fluid mt-4">
    <app-admin-dashboard-cards *ngIf="isAdmin()"/>

    <div class="row mt-5">
      @if((this.userRoles().includes('SUPERUSER') ||
      this.userRoles().includes('ADMIN') ||
      this.userRoles().includes('ACCOUNTANT'))){
      <div allTitheChart class="col-12 col-md-6 col-lg-6"></div>
      <div userTitheChart class="col-12 col-md-6 col-lg-6"></div>
      } @if(this.userRoles().includes('ENDUSER')){
      <div userTitheChart class="col-12 col-md-6 col-lg-6"></div>
      }
    </div>
  </div>
</main>
