.navbar {
  font-size: 0.95rem;
}

.nav-link {
  padding: 0.5rem 1rem;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #0d6efd;
}

.navbar-brand span {
  font-size: 1.25rem;
}


#logo-text{
    color:#365133
}

/* Show submenu when hovering the parent */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* keeps alignment smooth */
}


.profile-sub-items{
    background: #fff;
    top:100%;
    right:0;
    width: 100%;
    border:1px solid #ededed;
}