

<main class="container my-4">
  <div class="card shadow-lg rounded-3 border-0">
    <div class="card-body p-4">
      <!-- Show this while loading -->
      <div *ngIf="isLoading(); else formTemplate">
        <!-- Date Received -->
        <div class="mb-3">
          <span class="placeholder col-4 mb-2"></span>
          <span class="placeholder col-12 form-control"></span>
        </div>

        <!-- Amount -->
        <div class="mb-3">
          <span class="placeholder col-4 mb-2"></span>
          <span class="placeholder col-12 form-control"></span>
        </div>

        <!-- Dropdown -->
        <div class="mb-3">
          <span class="placeholder col-4 mb-2"></span>
          <span class="placeholder col-12 form-control"></span>
        </div>

        <!-- Button -->
        <div class="d-grid">
          <span class="placeholder col-12 btn btn-primary disabled"></span>
        </div>
      </div>

      <!-- Actual Form -->
      <ng-template #formTemplate>
        <!-- your form code here -->
        <h5 class="card-title mb-4 text-primary fw-bold">Update Tithe</h5>

        <form [formGroup]="titheForm" novalidate>
          <!-- Date Received -->
          <div class="form-floating mb-3">
            <input
              type="date"
              class="form-control"
              id="dateReceived"
              formControlName="dateReceived"
              placeholder="Date Received"
            />
            <label for="dateReceived">Date Received</label>
            @if(dateReceived.invalid && dateReceived.touched){
            <div class="text-danger small mt-1">Date Received is required.</div>
            }
          </div>

          <!-- Amount -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="amount"
              placeholder="0.00"
              formControlName="amount"
              (input)="formatToTwoDecimals($event)"
            />
            <label for="amount">Amount (PHP)</label>
            @if(amount.invalid && amount.touched){
            <div class="text-danger small mt-1">Amount is required.</div>
            }
          </div>

          <!-- Tithe Type -->
          <div class="mb-3">
            <app-active-tithe-type-dropdown
              (emitTitheTypeId)="setTitheType($event)"
              #titheTypeDropdown
            >
            </app-active-tithe-type-dropdown>
            @if(titheTypeId.invalid && titheTypeId.touched){
            <div class="text-danger small mt-1">Type is required.</div>
            }
          </div>

          <!-- Member -->
          @if(!memberId.value){
          <div class="mb-3">
            <app-active-members-lookup-dropdown
              (emitMemberName)="onMemberSelect($event)"
              (emitMemberId)="onMemberSelectId($event)"
            />
          </div>
          } @if(memberId.value){
          <div class="form-floating mb-3 position-relative">
            <input
              type="text"
              class="form-control"
              id="memberName"
              formControlName="memberName"
              placeholder="Member Name"
            />
            <label for="memberName">Member Name</label>
            <div
              class="position-absolute top-50 end-0 translate-middle-y me-3 text-danger cursor-pointer"
              (click)="removeMemberNameAndId()"
            >
              <i class="bi bi-x-circle-fill fs-5"></i>
            </div>
          </div>
          } @if((memberName.invalid && memberName.touched) || memberId.invalid
          && memberId.touched){
          <div class="text-danger small mt-1">Member is required.</div>
          }

          <!-- Submit -->
          <button
            type="submit"
            class="btn btn-primary w-100 py-2 mt-3"
            (click)="saveTithe()"
          >
            Update
          </button>
        </form>
      </ng-template>
    </div>
  </div>
</main>

<!-- <main class="container my-4">
  <div class="card shadow-lg rounded-3 border-0">
    <div class="card-body p-4"></div>
  </div>
</main> -->
