<div class="container py-5">
  <div class="card position-relative">
    @if(isFetching()){
    <!-- Loader Overlay -->
    <div
      class="loader-overlay"
      id="tithesLoader"
    >
      <div class="loader-panel">
        <div class="spinner-border text-primary" role="status" style="width: 2rem; height: 2rem">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div class="loader-text">Loading tithes...</div>
      </div>
    </div>
    }

    <!-- Card Header -->
    <div
      class="card-header bg-white d-flex justify-content-between align-items-center"
    >
      <h5 class="mb-0 fw-semibold">Tithes</h5>
      <!-- Search Bar -->
      <!-- <div class="position-relative">
        <input
          type="text"
          class="form-control form-control-sm ps-5"
          placeholder="Search tithes..."
          [(ngModel)]="searchTerm"
          (input)="onSearch()"
          style="min-width: 220px; border-radius: 30px"
        />
        <i
          class="bi bi-search position-absolute top-50 start-0 translate-middle-y ms-3 text-muted"
        ></i>
      </div> -->

      <!-- Add Button -->
   <div>
       <app-add-new-tithe-modal #modal (fetchData)="fetchData()" />
       <button class="btn btn-primary btn-sm me-2" [routerLink]="['add-bulk']">
        <i class="bi bi-plus-lg me-1"></i>Add Bulk
      </button>
      <button class="btn btn-primary btn-sm" (click)="open()">
        <i class="bi bi-plus-lg me-1"></i>Add One
      </button>
   </div>
    </div>

    <!-- Card Body -->
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Date Received</th>
              <th scope="col">Giver</th>
              <th scope="col">Type</th>
              <th scope="col">Amount</th>
              <th scope="col">Encoded By</th>
              <th scope="col" class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (tithe of tithes(); track tithe.id) {
            <tr>
              <td>{{ tithe.id }}</td>
              <td>{{ tithe.dateReceived | date : "long" }}</td>
              <td>{{ tithe.giver?.firstName }} {{ tithe.giver?.lastName }}</td>
              <td>{{ tithe.titheType?.name }}</td>
              <td>
                {{ tithe.amount | currency : "PHP" : "symbol" : "1.2-2" }}
              </td>
              <td>
                {{ tithe.encoder?.firstName }} {{ tithe.encoder?.lastName }}
              </td>
              <td class="text-center action-btns">
                <button
                  class="btn btn-primary btn-sm me-1"
                  (click)="openPopup(tithe?.id!)"
                  ngbTooltip="View Details"
                  placement="top"
                  container="body"
                >
                  <i class="bi bi-eye"></i>
                </button>

                <button
                  class="btn btn-light btn-sm me-1"
                  ngbTooltip="Edit"
                  placement="top"
                  container="body"
                  [routerLink]="['edit', tithe.id]" target="_blank"
                >
                  <i class="bi bi-pencil"></i>
                </button>

                <button
                  class="btn btn-danger btn-sm"
                  (click)="onDeleteTithes(tithe.id!)"
                  ngbTooltip="Delete"
                  placement="top"
                  container="body"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>

    <app-pagination
      [data]="tithes()"
      #pagination
      [dataCount]="dataCount()"
      (changeEmitter)="this.fetchData()"
    />
  </div>
</div>
