<app-create-circle-modal #modal (fetchData)="fetchData()" />
<div class="card shadow-sm rounded-3">
  <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Circles</h5>
    <button class="btn btn-light btn-sm" (click)="open()">
      <i class="bi bi-plus-circle me-1"></i> Add Circle
    </button>
  </div>

  <div class="table-responsive">
    <table class="table table-hover align-middle mb-0">
      <thead class="table-primary">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Circle Name</th>
          <th scope="col">Status Name</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Placeholder row -->

        <ng-content *ngIf="isLoading(); else groupData">

          <tr class="placeholder-glow" *ngFor="let _ of [].constructor(10)">
            <td><span class="placeholder  col-10"></span></td>
            <td><span class="placeholder col-10"></span></td>
            <td><span class="placeholder col-10"></span></td>
            <td class="text-center"><span class="placeholder col-12"></span></td>
          </tr>


        </ng-content>


        <ng-template #groupData>
          @for (group of groupsData(); track $index) {
          <tr>
            <td>{{ group.id }}</td>
            <td>{{ group.name }}</td>
            <td>
              <span class="badge" [ngClass]="group.isActive ? 'bg-success' : 'bg-secondary'">
                {{ group.isActive ? "Active" : "Inactive" }}
              </span>
            </td>
            <td class="text-end">
              <button class="btn btn-sm btn-outline-primary me-1" ngbTooltip="View" [routerLink]="['./view', group.id]">
                <i class="bi bi-eye"></i>
              </button>

              <button class="btn btn-sm btn-outline-danger" ngbTooltip="Delete" (click)="onDeleteGroup(group.id!)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
          }
        </ng-template>
      </tbody>
    </table>
  </div>
</div>