<ng-template #assignCirclceMembersModal let-modal>
  <div class="modal-header bg-primary text-white">
    <h5 class="modal-title">Assign Members to ({{group()?.name}})</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(modal)"></button>
  </div>

  <div class="modal-body">
    <form [formGroup]="circleForm">
      <app-circle-member-search-field [groupId]="groupId()" (emitIdDataSet)="setDataset($event)" />
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-light" (click)="closeModal(modal)">Cancel</button>
    <button class="btn btn-primary" (click)="saveGroup(modal)" [disabled]="!userAndGroupIds().length">Save</button>
  </div>
</ng-template>