<div class="card h-100 shadow-sm border-0 rounded-4">
  <div
    class="card-header bg-transparent fw-semibold d-flex justify-content-between align-items-center"
  >
    <span>Tithes collected from you</span>
    <i class="bi bi-graph-down"></i>
  </div>
  <div class="card-body">
    <div class="p-4 position-relative">
      @if(isFetching()){
      <!-- Loader Overlay -->
      <div class="loader-overlay">
        <div class="loader-panel">
          <div class="spinner-border text-primary" role="status" style="width: 2rem; height: 2rem"></div>
          <div class="loader-text">Fetching chart data...</div>
        </div>
      </div>
      }@else{
      <canvas
        baseChart
        [data]="chartData"
        [type]="chartType"
        [options]="chartOptions"
      >
      </canvas>
      }
    </div>
  </div>
</div>
